*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --rootBG:#cdb090;
}
body{
    /* background-image: url(./pictures/starry-sky-998641.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    /* margin: auto; */
    /* object-position: top:0 left:0; */
    font-family: monospace;
    font-size: 16px;
    color: black;
    /* background-color: tan; */
    /* width: 100%; */
    /* height: 100vh; */
    background-color: var(--rootBG);
}
header {
 background-color: rgb(19, 19, 22);
 /* text-align: center; */
 font-size: calc(1vw + 1.2rem);
 
 color: rgb(5, 145, 68);
 width: 100vw;
 height:17vh;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 10;
 padding: 1rem;
 
}
header h4{
    font-size: smaller;
    text-align: left;

}
#navigation{
    align-content: space-between;
    padding-bottom: 2rem;
}

#menu {
    align-items: center;
    font-size: 1rem;

}
#page-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}
#page-menu li {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(8, 8, 8);
    padding: .1rem  .5rem;
    margin: 0 1rem;
    border-radius: 25px;
    border: 1.4px solid white;
}
#page-menu li a {
    color: white;
    text-decoration: none;

}
.main-container {
    border: 2px red solid;
    width: 100%;
    height: calc(100vh);
    
    z-index: 2;
    padding-top: 17vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: bisque;

    scrollbar-color: blue;
    scrollbar-track-color: black;
    scrollbar-base-color: black;
    scroll-behavior: smooth;
    
}
.main-container h3 {
    max-width: 50%;
    max-height: 50%;
}
p {
    padding: 15px;
}
.para {
    place-content: center center;
    width: 250px;
    height: 250px;
    margin: 1rem;
    text-align: left;
    border: 2px solid rgb(2, 126, 43);
    overflow-x: hidden;
    
}
.para:nth-child(odd){
    margin-bottom: calc(1vw + 2rem);
}
.para:nth-of-type(#para-title){
    color: blue;
    

}

#para-title{
    font-size: 1.8rem;
    text-align: center;

}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    color:white;
    background-color: rgb(19, 19, 22);
    border: 1px solid black;
    width: 100%;
    height: calc(1vw + 2rem);
}
#footNotes{
    font-size: large;
}